#!/bin/bash

alias ll='ls -alF'
alias la='ls -A'
alias l='ls -CF'
alias ls="ls -lah"
alias audio-restart='pulseaudio --kill && pulseaudio --start'
alias gitconfig="git config --local include.path ../.gitconfig"
alias sudo='sudo ' # use sudo with aliases
alias ts="tailscale"

# kubernetes
alias kge="k get events --sort-by=.metadata.creationTimestamp"
alias kdf="k delete --force --grace-period 0"
alias kyaml="k --dry-run=client -o yaml"
alias netshoot="kubectl run netshoot --rm -i --tty --image nicolaka/netshoot -- /bin/bash"
alias kubeseal="kubeseal --format yaml"
alias rc="kubectl rook-ceph -n storage"
alias t="talosctl"

# ai
alias o="ollama"