#!/bin/bash

alias ll='ls -alF'
alias la='ls -A'
alias l='ls -CF'
alias ls="ls -lah"
alias audio-restart='pulseaudio --kill && pulseaudio --start'
alias sudo='sudo ' # use sudo with alases
alias ts="tailscale"
alias tctl="talosctl"

# kubernetes
alias kge="k get events --sort-by=.metadata.creationTimestamp"
alias kdf="k delete --force --grace-period 0"
alias kyaml="k --dry-run=client -o yaml"
alias netshoot="kubectl run netshoot --rm -i --tty --image nicolaka/netshoot -- /bin/bash"
alias kubeseal="kubeseal --format yaml"
