#!/bin/bash

export EDITOR="vim"
export XCURSOR_PATH=$RUNTIME/usr/share/icons
export PATH=$PATH:$HOME/.local/bin/

# go
export GOPATH=$HOME/go
export PATH=$PATH:/usr/local/go/bin
export PATH=$PATH:$HOME/go/bin

# kubernetes
export KUBECONFIG=$HOME/.kube/config