#!/bin/bash

export EDITOR="vim"
export XCURSOR_PATH=$RUNTIME/usr/share/icons
export PATH=$PATH:$HOME/.local/bin/

# go
export GOPATH=$HOME/go
export PATH=$PATH:/usr/local/go/bin
export PATH=$PATH:$HOME/go/bin

# kubernetes
export KUBECONFIG=$HOME/.kube/config
export PATH="${KREW_ROOT:-$HOME/.krew}/bin:$PATH"

# claude
export ANTHROPIC_AUTH_TOKEN=ollama
export ANTHROPIC_API_KEY=""
export ANTHROPIC_BASE_URL=https://ollama.mmontes-internal.duckdns.org
export ANTHROPIC_MODEL=gpt-oss:20b