#!/bin/bash

function envup() {
  ENV_FILE=$1
  if [ ! "$ENV_FILE" ]; then
    ENV_FILE=".env"
  fi

  if [ -f $file ]; then
    echo "Loading '$ENV_FILE' file"
    set -a
    source $ENV_FILE
    set +a
  else
    echo "No '$ENV_FILE' file found" 1>&2
    return 1
  fi
}
